{
  "parser": "babel-eslint",
  "rules": {

    /* Possible Errors */

    "getter-return": "error",
    "no-async-promise-executor": "error",
    "no-compare-neg-zero": "error",
    "no-cond-assign": "error",
    "no-console": "warn",
    "no-constant-condition": "error",
    "no-debugger": "warn",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-empty": "error",
    "no-empty-character-class": "error",
    "no-ex-assign": "error",
    "no-extra-boolean-cast": "error",
    "no-extra-parens": ["error", "all", { "nestedBinaryExpressions": false }],
    "no-extra-semi": "error",
    "no-inner-declarations": "error",
    "no-invalid-regexp": "error",
    "no-irregular-whitespace": "error",
    "no-prototype-builtins": "error",
    "no-regex-spaces": "error",
    "no-sparse-arrays": "error",
    "no-unexpected-multiline": "error",
    "no-unreachable": "error",
    "no-unsafe-negation": "error",
    "use-isnan": "error",
    "valid-typeof": "error",

    /* Best Practices */

    "array-callback-return": "error",
    "block-scoped-var": "error",
    "consistent-return": "error",
    "curly": "error",
    "dot-notation": "error",
    "eqeqeq": "error",
    "guard-for-in": "error",
    "max-classes-per-file": "error",
    "no-alert": "warn",
    "no-case-declarations": "error",
    "no-else-return": "error",
    "no-empty-function": "error",
    "no-empty-pattern": "error",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-global-assign": "error",
    "no-implicit-globals": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-redeclare": "error",
    "no-return-assign": "error",
    "no-script-url": "error",
    "no-self-assign": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-unmodified-loop-condition": "error",
    "no-unused-expressions": "error",
    "no-unused-labels": "error",
    "no-useless-call": "error",
    "no-useless-catch": "error",
    "no-useless-concat": "error",
    "no-useless-escape": "error",
    "no-useless-return": "error",
    "yoda": [ "error", "always", { "onlyEquality": true } ],

    /* Variables */

    "no-delete-var": "error",
    "no-shadow": "error",
    "no-shadow-restricted-names": "error",
    "no-undef-init": "error",
    "no-undefined": "error",
    "no-unused-vars": [ "error", { "varsIgnorePattern": "Scss$" } ],
    "no-use-before-define": "error",

    /* Stylistic Issues */

    "array-bracket-spacing": [ "error", "always" ],
    "array-element-newline": [ "error", "consistent" ],
    "block-spacing": "error",
    "brace-style": "error",
    "camelcase": [ "error", { "properties": "never"} ],
    "comma-dangle": [ "error", "always-multiline" ],
    "comma-spacing": "error",
    "comma-style": "error",
    "computed-property-spacing": [ "error", "always" ],
    "eol-last": "error",
    "func-call-spacing": "error",
    "indent": [ "error", "tab" ],
    "key-spacing": "error",
    "keyword-spacing": "error",
    "line-comment-position": "error",
    "linebreak-style": "error",
    "lines-around-comment": "error",
    "lines-between-class-members": "error",
    "new-cap": "error",
    "new-parens": "error",
    "no-bitwise": [ "error", { "allow": [ "^" ] } ],
    "no-lonely-if": "error",
    "no-multiple-empty-lines": "error",
    "no-negated-condition": "error",
    "no-new-object": "error",
    "no-trailing-spaces": "error",
    "no-underscore-dangle": "error",
    "no-unneeded-ternary": "error",
    "no-whitespace-before-property": "error",
    "object-curly-newline": "error",
    "object-curly-spacing": [ "error", "always" ],
    "one-var-declaration-per-line": "error",
    "operator-assignment": "error",
    "padded-blocks": [ "error", "never" ],
    "quote-props": [ "error", "as-needed" ],
    "quotes": [ "error", "single" ],
    "semi": "error",
    "semi-spacing": "error",
    "semi-style": "error",
    "space-before-blocks": "error",
    "space-before-function-paren": [ "error", "never" ],
    "space-in-parens": [ "error", "always" ],
    "space-infix-ops": "error",
    "space-unary-ops": [ "error", {
      "overrides": {
        "!": true,
        "yield": true
      }
    } ],
    "spaced-comment": "error",
    "switch-colon-spacing": "error",

    /* ES6 */

    "arrow-body-style": "error",
    "arrow-parens": "error",
    "arrow-spacing": "error",
    "constructor-super": "error",
    "no-class-assign": "error",
    "no-const-assign": "error",
    "no-dupe-class-members": "error",
    "no-duplicate-imports": "error",
    "no-this-before-super": "error",
    "no-useless-computed-key": "error",
    "no-useless-constructor": "error",
    "no-useless-rename": "error",
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-destructuring": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "require-yield": "error",
    "rest-spread-spacing": "error",
    "template-curly-spacing": ["error", "always"]
  }
}
