$prefix: e-gallery !default;

.#{ $prefix } {

	&-container {
		position: relative;
		display: flex;
		flex-wrap: wrap;

		&:not(.#{ $prefix }-grid) {
			transition: padding-bottom var(--animation-duration);
		}
	}

	&-item {
		position: relative;
		flex-grow: 0;
		flex-shrink: 0;
		transition-property: all;
		transition-duration: var(--animation-duration);

		&:not(:hover) {

			.#{ $prefix }-overlay {
				display: none;
			}
		}

		&.#{ $prefix }-item--hidden {
			transform: scale3d(0, 0, 0);
			opacity: 0;
		}
	}

	&-image {
		background-position: center center;
		background-size: cover;
		width: 100%;
		transform-origin: center top;
		transition: var(--animation-duration);
	}

	&-overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-wrap: wrap;
		flex-direction: column;
		color: #fff;
		background-color: rgba(0, 0, 0, .5);

		&__title {
			font-size: 24px;
		}
	}

	&-grid {

		&:not(.#{ $prefix }--animated) {
			display: grid;
			grid-gap: var(--vgap) var(--hgap);
			grid-template-columns: repeat(var(--columns), 1fr);

			.#{ $prefix }-item--hidden {
				position: absolute;
			}
		}

		&.#{ $prefix }--animated {
			padding-bottom: var(--container-aspect-ratio);

			.#{ $prefix }-item {
				--item-width: calc((100% - ((var(--columns) - 1) * var(--hgap))) / var(--columns));

				position: absolute;
				top: calc(((100% / var(--rows)) + (var(--vgap) / var(--rows))) * var(--row));
				width: var(--item-width);
			}
		}

		.#{ $prefix }-image {
			padding-bottom: var(--aspect-ratio);
		}
	}

	&-justified {
		padding-bottom: calc(var(--container-aspect-ratio) * 100%);

		.#{ $prefix }-item {
			position: absolute;
			width: calc(var(--item-width) * (100% - var(--hgap) * var(--gap-count)));
			height: var(--item-height);
			top: calc(var(--item-top) + (var(--row) * var(--vgap)));
		}

		.#{ $prefix }-image {
			height: 100%;
		}
	}

	&-masonry {
		height: 0;
		margin-bottom: calc(var(--highest-column-gap-count) * var(--vgap));

		.#{ $prefix }-item {
			position: absolute;
			width: calc(100% / var(--columns) - (var(--hgap) * (var(--columns) - 1) / var(--columns)));
			top: calc(var(--percent-height) + (var(--items-in-column) * var(--vgap)));
		}

		.#{ $prefix }-image {
			padding-bottom: var(--item-height);
		}
	}

	&--ltr {

		&.#{ $prefix } {

			&-grid {

				&.#{ $prefix }--animated {

					.#{ $prefix }-item {
						left: calc(var(--item-width) * var(--column) + (var(--hgap) * var(--column)));
					}
				}
			}

			&-justified {

				.#{ $prefix }-item {
					left: calc(var(--item-start) * (100% - var(--hgap) * var(--gap-count)) + var(--hgap) * var(--item-row-index));
				}
			}

			&-masonry {

				.#{ $prefix }-item {
					left: calc((100% / var(--columns) - (var(--hgap) * (var(--columns) - 1) / var(--columns))) * var(--column) + (var(--hgap) * var(--column)));
				}
			}
		}
	}

	&--rtl {

		&.#{ $prefix } {

			&-grid {

				&.#{ $prefix }--animated {

					.#{ $prefix }-item {
						right: calc(var(--item-width) * var(--column) + (var(--hgap) * var(--column)));
					}
				}
			}

			&-justified {

				.#{ $prefix }-item {
					right: calc(var(--item-start) * (100% - var(--hgap) * var(--gap-count)) + var(--hgap) * var(--item-row-index));
				}
			}

			&-masonry {

				.#{ $prefix }-item {
					right: calc((100% / var(--columns) - (var(--hgap) * (var(--columns) - 1) / var(--columns))) * var(--column) + (var(--hgap) * var(--column)));
				}
			}
		}
	}

	&--lazyload {
		.e-gallery-image:not(.e-gallery-image-loaded) {
			filter: alpha(0);
			transform: scale(0.5);
		}
	}
}
